@import 'src/styles/colors';

:host {
  .navbar {
    background-color: $como-green;
    height: 80px;
    box-shadow: 4px 4px 10px $sceptic-green;
    z-index: 100;

    #logo {
      //font-family: 'Bungee', 'Sans-Serif', cursive;
      font-family: 'Artis', 'Sans-Serif', cursive;
      color: white;
      font-size: 33px;

      &:hover {
        color: $tea-green-green;
        transform: scale(1.05);
      }
    }

    .write-tweet {
      font-family: 'Avenir';
      font-size: 24px;
      color: $white-white;
      text-decoration: none;

      &:hover {
        color: $tea-green-green;
        transform: scale(1.05);
      }

      div div i {
        animation: MoveUpDown 1s linear infinite;
        position: relative;
      }

      @keyframes MoveUpDown {
        0%,
        100% {
          bottom: 0;
        }
        50% {
          bottom: 10px;
        }
      }
    }
  }
}
