@import 'src/styles/colors';

:host {
  .navbar {
    background-color: $prussian-blue;
    height: 70px;
    box-shadow: 4px 4px 10px $sceptic-green;
    z-index: 100;

    .navbar-brand:hover {
      transform: scale(1.05);
    }

    a.nav-link {
      color: $white-white;
      text-decoration: none;

      &:hover {
        color: $tea-green-green;
      }
    }

    .write-tweet {
      font-family: 'Avenir';
      font-size: 24px;
      color: $white-white;
      text-decoration: none;

      &:hover {
        color: $tea-green-green;
        transform: scale(1.05);
      }

      div div i {
        animation: MoveUpDown 1s linear infinite;
        position: relative;
      }

      @keyframes MoveUpDown {
        0%,
        100% {
          bottom: 0;
        }
        50% {
          bottom: 10px;
        }
      }
    }
  }
}

