<bf-navigation></bf-navigation>
<div class="container-fluid">
  <div class="row my-5">
    <bf-profile class="col-12 col-md-6"></bf-profile>
    <div class="col-12 col-md-6">
      <bf-tweet-input (submitTweet)="onSubmitTweet($event)"></bf-tweet-input>
      <bf-tweet-card
        [userName]="'Newton'"
        [avatars]="'https://i.imgur.com/73hZDYK.png'"
        [handle]="'@SirIsaac'"
        [message]="'If I have seen further it is by standing on the shoulders of giants'"
        [createdAtTimestamp]="1667863328671"
      ></bf-tweet-card>
      <bf-tweet-card
        [userName]="'Descartes'"
        [avatars]="'https://i.imgur.com/nlhLi3I.png'"
        [handle]="'@rd'"
        [message]="'Je pense , donc je suis'"
        [createdAtTimestamp]="1667776928671"
      ></bf-tweet-card>
    </div>
  </div>
</div>
