<bf-navigation-open></bf-navigation-open>
<bf-navigation (newTweetClicked)="toggleTweetInputForm()"></bf-navigation>
<div class="container-fluid">
  <div class="row my-5">
    <bf-profile class="col-12 col-md-6"></bf-profile>
    <div class="col-12 col-md-6">
      <bf-tweet-input
        *ngIf="showTweetInput"
        (submitTweet)="onSubmitTweet($event)"
      ></bf-tweet-input>
      <ng-container *ngIf="tweets">
        <bf-tweet-card
          *ngFor="let tweet of tweets"
          [tweet]="tweet"
          (deleteTweet)="onDeleteTweet($event)"
        ></bf-tweet-card>
      </ng-container>
    </div>
  </div>
</div>
