<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a routerLink="/">
    <img
      class="navbar-brand"
      src="https://cdn.auth0.com/blog/hub/code-samples/hello-world/auth0-logo.svg"
      alt="Tweeter"
      width="122"
      height="36"
    />
  </a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/public">Public</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <ng-container *ngIf="isAuthenticated$ | async; else unAuthenticated">
        <ul class="navbar-nav mr-2">
          <li class="nav-item">
            <a class="nav-link" href="/profile"
              ><i class="fas fa-user"></i> Profile</a
            >
          </li>
        </ul>
        <button class="btn btn-danger my-2 my-sm-0" (click)="handleLogout()">
          Log Out
        </button>
      </ng-container>
      <ng-template #unAuthenticated>
        <button
          class="btn btn-outline-success my-2 my-sm-0"
          (click)="handleSignUp()"
        >
          Sign Up
        </button>
        <button class="btn btn-info my-2 my-sm-0 ml-2" (click)="handleLogin()">
          Log In
        </button>
      </ng-template>
    </div>
  </div>
</nav>
