$masala-brown: #545149;
$hit-grey-grey: #9b9d9d;
$yellow-green-green: #99c435;
$green-green: #307207;
$yellow-yellow: #ffff00;
$white-white: #ffffff;
$light-grey-grey: #d3d3d3;
$desert-storm-grey: #f4f1ec;
$sceptic-green: #97b09f;
$conifer-green: #a2e039;
$tea-green-green: #d7edb2;
