@import "src/styles/colors";

:host {
  .card {
    font-family: Avenir;
    background-color: $desert-storm-grey;
    border-width: 2px 2px 2px 2px;
    border-color: $sceptic-green;

    &:hover {
      box-shadow: 1px 1px 5px $como-green;
      transform: scale(1.002);
    }

    .card-body div {
      font-size: 20px;
      border: none;
      border-bottom: 2px solid $hit-grey-grey;
    }

    div i.fas:hover {
      color: $yellow-green-green;
    }
  }

  .dropdown-menu {
    font-family: Avenir;
    min-width: 7rem;
  }
}
