<div class="container">
  <div class="row mt-3">
    <div class="col">
      <p>Dashboard (secured page: for logged in Only users)</p>
      <a href="/dashboard/tweets">See Tweets</a>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12">
      <p>Get call "/api/person/all"</p>
      Response: <code>{{ persons }}</code>
    </div>
    <div class="col-12">
      <button (click)="fetchPersons()">Fetch Persons</button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <p>Get call "/api/person/admin" Only Admin secure message</p>
      Response: <code>{{ adminMessage }}</code>
    </div>
    <div class="col">
      <button (click)="fetchAdminMessage()">Fetch Persons</button>
    </div>
  </div>
</div>
