@import "src/styles/colors";

:host {

  .container {
    font-family: Avenir;
    color: $masala-brown;

    div.col-sm-12 {
      box-shadow: 5px 8px 6px -6px $prussian-blue;
    }

    .form-control:focus {
      border-color: $como-green;
      box-shadow: 1px 1px 3px $sceptic-green;
    }
    
    footer a {
      font-size: small;
      color: $hit-grey-grey;
    }
  }

  .modal-dialog {
    box-shadow: 5px 8px 6px -6px $prussian-blue;
  }

  .btn {
    font-family: "Avenir";
    font-weight: bold;
    font-size: 20px;
    color: $masala-brown;
    outline: none;
    height: 40px;
    box-shadow: 1px 1px 3px $hit-grey-grey;
    background-image: linear-gradient(
        $mantis-green,
        $tea-green-green,
        $mantis-green
    );
    border-color: white;

    &:hover {
      box-shadow: 2px 2px 5px $como-green;
      transform: scale(1.01);
    }
  }
}


