<div class="card w-50">
    <div class="card-header d-flex justify-content-between">

      <div class="username">
        <img class="avatars" src="https://i.imgur.com/73hZDYK.png" alt="User Avatar">

        <span>Newton</span>
      </div>
      <div class="handle">@SirIsaac</div>
    </div>


    <div class="card-body">

      <p>If I have seen further it is by standing on the shoulders of giants</p>

    </div>

    <div class="card-footer">
      <div><i class="fas fa-flag"></i>
        <i class="fas fa-retweet"></i>
        <i class="fas fa-heart"></i>
      </div>
      <span>1 day ago</span>
    </div>



</div>

