<div class="card d-flex mt-5 rounded">
  <div class="d-flex justify-content-between">
    <div class="username m-3">
      <img
        class="avatars"
        src="https://i.imgur.com/73hZDYK.png"
        alt="User Avatar"
      />
    </div>
    <div class="m-3">
      <span>Newton</span>
    </div>
    <div class="handle m-3">@SirIsaac</div>
  </div>

  <div class="card-body">
    <p>If I have seen further it is by standing on the shoulders of giants</p>
  </div>
  <div class="divider p-1 mb-3 rounded"></div>

  <div class="d-flex justify-content-between">
    <div>1 day ago</div>
    <div>
      <i class="fas fa-flag m-2"></i>
      <i class="fas fa-retweet m-2"></i>
      <i class="fas fa-heart m-2"></i>
    </div>
  </div>
</div>
