<div class="mb-3">
  <div>
    <input
      id="new-tweet"
      type="text"
      class="form-control"
      aria-label="write-tweet"
      aria-describedby="inputGroup-sizing-default"
      placeholder="What Are You Humming About"
    />
  </div>
  <div class="row d-flex align-items-center">
    <div class="col-6">
      <button type="button" class="button btn-lg btn-secondary my-3 rounded">
        TWEET
      </button>
    </div>
    <div id="counter" class="col-6 p-4 d-flex justify-content-end">140</div>
  </div>
</div>
