@import "src/styles/colors";

:host {
  .new-tweet {
    font-family: "Source Sans", sans-serif;
    font-size: 20px;
    border: none;
    border-bottom: 5px solid $sceptic-green;
    outline: none;
    background-color: $desert-storm-grey;
  }
  textarea:focus {
    outline: none;
    box-shadow: none!important;
  }
  button {
    font-family: "Bungee";
    font-size: 20px;
    color: $masala-brown;
    outline: none;
    width: 100px;
    height: 40px;
    box-shadow: 1px 1px 3px $hit-grey-grey;
    background-image: linear-gradient(
      $conifer-green,
      $tea-green-green,
      $conifer-green
    );
    border-color: white;
    filter: sepia(40%);
    transition: filter 0.3s ease-in-out;
    &:hover {
      filter:none;
      transform: scale(1.03);
    }
  }

  .counter {
    font-family: "Bungee";
    font-size: 20px;
    color: $masala-brown;
  }
  .text-red {
    color:red;
  }
}
