@import "src/styles/colors";

:host {
  .new-tweet {
    border: none;
    font-family: "Source Sans", sans-serif;
    font-size: 20px;
    border-bottom: 5px solid $sceptic-green;
    outline: none;
    background-color: $desert-storm-grey;
  }

  .button {
    font-family: "Bungee";
    font-size: 20px;
    color: $masala-brown;
    outline: none;
    width: 100px;
    height: 40px;
    box-shadow: 1px 1px 3px $hit-grey-grey;
    background-image: linear-gradient(
      $conifer-green,
      $tea-green-green,
      $conifer-green
    );
    border-color: white;
  }

  .counter {
    font-family: "Bungee";
    font-size: 20px;
    color: $masala-brown;
  }
}
