@import "src/styles/colors";

:host {
  .new-tweet {
    font-family: "Avenir", sans-serif;
    font-size: 20px;
    border: none;
    border-bottom: 5px solid $sceptic-green;
    outline: none;
    background-color: $desert-storm-grey;
  }

  textarea:focus {
    outline: none;
    box-shadow: none !important;
  }

  button {
    font-family: "Avenir", Sans-Serif;
    font-weight: bold;
    font-size: 20px;
    color: $masala-brown;
    outline: none;
    width: 100px;
    height: 40px;
    box-shadow: 1px 1px 3px $hit-grey-grey;
    background-image: linear-gradient(
        $mantis-green,
        $tea-green-green,
        $mantis-green
    );
    border-color: white;

    &:hover {
      box-shadow: 2px 2px 5px $como-green;
      transform: scale(1.01);
    }
  }

  .counter {
    font-family: "Avenir";
    font-weight: bolder;
    font-size: 20px;
    color: $masala-brown;
  }

  .text-red {
    color: red;
  }
}
